/* CSS Reset */

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

:root {
    --color-primary: #6f9ceb;
    --color-primary-light: #98b9f2;
    --color-primary-dark: #213b54;

    --color-grey-light: #f7f7f7;

    --color-grey-dark-1: #777;
    --color-grey-dark-2: #999;
    --color-grey-dark-3: #333;

    --color-white: #fff;
    --color-black: #000;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    box-sizing: border-box;
    padding: 3rem;
    font-weight: 400;
    font-size: 62.5%;;
    line-height: 1.7;
}


a {
    color: var(--color-primary);
}

.navigation {
    background-color: var(--color-grey-dark-3);  
}

.navigation .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(111, 156, 235)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }

.header {
    background-image: linear-gradient(
        to right bottom,
        rgba(152, 185, 242, 0.9),
        rgba(33, 59, 84, 0.9)),
        url(../img/header.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 60vh;
    position: relative;
}

.header__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.heading {
    text-transform: uppercase;
    font-size: 8rem;
    letter-spacing: 1.25;
    font-weight: 300;
}


@media only screen and (max-width: 600px) {
    body {
        padding: 0;
    }

    .header {
        height: 50vh;
    }

    .header__text-box {
        top: 35%;
    }
}

@media only screen and (max-width: 800px) {

    .heading {
        font-size: 5rem;
    }
}




